
.navbar{
    height: 5.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--black-bg-color);
    

    & .burger-menu {
        display: none;
    }
    & .logo-img {
        max-height: 100%;
        width: 15vw;
        min-width: 200px;
    }
    .title-logo{
        position: absolute;
        /* width: 150px; */
        /* left: 40px; */
        top: 62px;

        color: var(--light-blue-color);
        font-size: 1.5rem;
        font-weight: bold;
        
    }

    & .navigation {
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
        gap: 5vw;
        margin: 0 20vw;
        
         
        


        & a {
            height: 86%;
            font-size: 1.2rem;
            font-family: Montserrat;
            font-weight: 600;
            /* text-transform: uppercase; */
            text-decoration:none;
            user-select : none;
            color: var(--white-color);
            cursor: pointer;
            transition: 0.3s ease;
            margin: 5px 2%;
        }
      }

}


@media screen and (max-width: 800px) {
    .navbar {
        justify-content: center;
    
    & .navigation {
        position: fixed;
        justify-content: flex-start;
        top: 60px;
        left: 0;
        /* display: none !important;  */
        flex-direction: column;
        margin: 0 0;
        /* gap: 5vh; */
        height: 100%;
        padding: 1rem;
        background-color: rgb(28, 28, 73);
        width: calc(100vw - 10rem);


        & li {
            padding: 1rem 0.5rem;
        }
    }
    } 
    .burger-menu {
        position: absolute;
        background-color: red;
        display: block !important;
        left: 20px;
        
    }
    
}